<h3> Movies </h3>
<nav class="nav mb-4">
    <a class="nav-link" [routerLink]="['./main']">Main</a>
    <a class="nav-link" [routerLink]="['./more-info']">More info</a>
    <a class="nav-link" [routerLink]="['./', 5]">Movie 5</a>
</nav>
<router-outlet></router-outlet>
